<div class="container">
  <h2>Create Event</h2>
  <h4>Insert a value bewteen {{ data.minValue }} and {{ data.maxValue }}</h4>
  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Value</mat-label>
      <input
        matInput
        type="number"
        placeholder="Insert a value"
        [min]="data.minValue"
        [max]="data.maxValue"
        #value
        autocomplete="off"
      />
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="accent" (click)="onCancel($event)">
        CANCEL
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit($event, value.value)"
      >
        CREATE
      </button>
    </div>
  </form>
</div>
